{%  extends 'admin/admin_temp.html' %}
{% block body %}



<form id="form1" name="form1" method="post" action="/editcategory_post">
<h2 align="center"> CATEGORY</h2>
  <div align="center">
    <table class="table table-bordered">
      <tr>
        <th width="191" scope="row">CATEGORY<input type="hidden" name="c_id" value="{{ data['catid'] }}" ></th>
        <td width="189"><input type="text" value="{{ data['catname'] }}" name="cat" class="form-control"/></td>
      </tr>
      <tr>
          <td></td>
        <th height="36" colspan="2" scope="row"><input type="submit" name="button" id="button" value="EDIT" class="btn btn-outline-success"/></th>
      </tr>
    </table>
  </div>
  <div align="center"></div>
</form>
{% endblock %}

